
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>




<div id="absatz1">
    <p>Hello meine Freunde</p>
    <button id="btn1">Hallo das ist der 1ste Button</button>
</div>

<div id="absatz2">
    <p class="class1">Hier könnte ihr Text stehen der sie reich machen könnte</p>
    <button id="btn2">den Text aller Absätze mit class=c1 verändern</button>
</div>

<div id="absatz3">
    <p id="id1">Absatz 1</p>
    <button id="btn3">Hier können sie ihre Elo verbessern Scam</button>
</div>

<button id="btn3">L9 Eloboost.net</button>

<button id="btn5">Last den ABsatz verschwinden</button>
<div id="formular">
    <h1>Formular</h1>
    <form asp-controller="javascriptuebung" asp-action="formular" method="post">
        <label> Name: *</label>
        <input type="text" name="vorname" id="vorname"/>
        <span></span> <br />
        <label> Alter: *</label>
        <input type="text" name="alter" id="alter" />
        <span></span> <br />

        <input type="submit" value="Formular absenden" />
        <input type="reset" value="abbrechen" />
    </form>

    <button id="btnf">Hier kann ein formular angezeigt werden</button>
</div>
<div id="table">
    <button id="btnp">Hier kann eine Table angezeigt werden</button>
</div>


