/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*
*{
    border: 1px solid black;
}
*/
#container{
    width: 80%;
    min-width: 800px;
    margin: 0px auto;
}

header{
    height: 200px;
    border-bottom: 1px solid black;
}

main{
    
}
nav{
    width: 15%;
    min-width: 150px;
    float: left;
    min-height:500px;

}
nav ul{
    list-style-type: none;
    padding:10px 0px 0px 10px;
}
nav a:hover, footer a:hover{
    text-decoration: none;
    font-weight:bold;
}
content {
    width: 65%;
    min-width: 450px;
    float: left;
    min-height: 500px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 20px 10px 10px 10px;
}
aside {
    width: 20%;
    min-width: 200px;
    float: right;
    min-height: 500px;
}
footer {
    height: 40px;
    clear: both;
    border-top: 1px solid black;
    
}
footer a{
        width:auto;
        float:right;
        text-align:right;
        padding:5px;
}
    

.level1{

}
.level2{
    font-size: 85%;
    padding-left:10px;
}

/*
    Alle Tabellen einheitlich formatieren
*/
table{
    border: 1px solid black;
}
thead{
    line-height:200%;
    text-align: center;
    background:#ff6a00;
}
tbody tr td{
    padding:10px 20px 10px 20px;
}
tfoot{
    font-size:80%;
    text-align:right;
    line-height:250%;
    padding-top:15px;
}
tfoot tr td{
    padding-top:5px;
    padding-bottom:7px;
}