
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/city.css" type="text/css" />
<h1>Hello</h1>

<div class="point1"><a asp-controller="city" asp-action="newYork" id="vis">ss</a></div>
<div class="point2"><a href="index.html" id="vis">ss</a></div>
<div class="point3"><a href="index.html" id="vis">ss</a></div>
<div class="description">Click on the points</div>

