* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Content{
    padding:70px;
}


body{
    background-color:black;
}
body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(45deg, rgba(176, 237,0,0.5), rgba(0,0,0, 1));
    font-family: 'Roboto', sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(228, 225, 225, 0.2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1) ), url('../Img/newYork.jpg') center no-repeat;
    background-size: cover;
}

p {
    font-family: "Mukta", sans-serif;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 30px auto;
    width: 900px;
    text-align: justify;
    line-height: 30px;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 50px 100px;
    z-index: 1000000;
}

    header.sticky {
        padding: 10px 100px;
        background: #151515; /*Color nav Hintergrund*/
        opacity: 0.4;
    }

    header ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        header ul li {
            position: relative;
            list-style: none;
        }

            header ul li .full {
                position: relative;
                text-decoration: none;
                margin: 0 15px;
                color: #d8d8d8; /* Color alle a tags */
                letter-spacing: 2px;
                /* font-weight: 500px;
                transition: 0.5sec;*/
            }

.hamburger-nav {
    display: none;
}

.navigation {
    display: none;
}

.ham-menü {
    display: none;
}

.nav-list {
    display: none;
}

.nav-item {
    display: none;
}

.nav-link {
    display: none;
}

a {
    position: relative;
    display: inline-block;
    padding: 20px 27px;
    margin: 0px 70px;
    color: aqua;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 6px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}


    a:nth-child(1) {
        filter: hue-rotate(270deg);
    }

    a:hover {
        background: aqua;
        color: aqua;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    }

    a span {
        position: absolute;
        display: block;
    }

    a :nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: repeating-linear-gradient(270deg, transparent, #03e9f4);
        animation: animate1 1s linear infinite;
    }

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%, 100% {
        left: 100%;
    }
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: repeating-linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%, 100% {
        top: 100%;
    }
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%, 100% {
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: repeating-linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%, 100% {
        bottom: 100%;
    }
}

