
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/map.css"/>
<div class="box">
    <a class="neonButton" asp-controller="user" asp-action="Login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Log In
    </a>


    <a class="neonButton" asp-controller="user" asp-action="Registration">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Registration
    </a>
</div>
