@using Vogt_Aufgabe_1_Rimml.Models
@using Microsoft.AspNetCore.Http
@using static Vogt_Aufgabe_1_Rimml.Controllers.UserController
@{
    ViewData["Title"] = "Succesfull";
}

<h1>Succesfull</h1>

<p> Ihr Login war erfolgreich</p>


    <p>@Context.Session.GetString("login")</p>





<p>  @Vogt_Aufgabe_1_Rimml.Controllers.UserController.id
    </p>

   






