
@{
    ViewData["Title"] = "Impressum";
}


<table>
    <thead>
        <tr>
            <td colspan="2">Impressum</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>David Simma</td>
        </tr>
        <tr>
            <td>Snap</td>
            <td>david.simma31</td>
        </tr>
        <tr>
            <td>Insta</td>
            <td>david.simma</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Fußbereich der Tabelle</td>
        </tr>
    </tfoot>
</table>

