
@{
    ViewData["Title"] = "javaScriptTesten";
}

<h1>javaScriptTesten</h1>

<div id="container_absatz1">
    <p>Absatz 1</p>
    <p>Absatz 2</p>
    <p>Absatz 3</p>
    <p>Absatz 4</p>
    <button id="btn1">den Text aller Absätze in diesem Dobument verändern</button>
    <button id="btn2">den Text aller Absätze in diesem div verändern</button>
</div>

<div id="container_absatz2">
    <p class="c1">Absatz 1</p>
    <p class="c1">Absatz 2</p>
    <p>Absatz 3</p>
    <p class="c1">Absatz 4</p>
    <button id="btn3">den Text aller Absätze mit class=c1 verändern</button>
</div>

<div id="container_absatz3">
    <p id="id1">Absatz 1</p>
    <p id="id2">Absatz 2</p>
    <p>Absatz 3</p>
    <p>Absatz 4</p>
    <button id="btn4">den Text aller Absätze mit id=id1 verändern</button>
</div>
<button id="btn5">Last den ABsatz verschwinden</button>
<div id="tableOnePerson">
    hir wird später die tabelle mit einer Person  
    <button id="btnP">Person anzeigen</button>

</div>
<div id="tablePeople">
   hier wird später die table  mit mehreren Personen angezeigt
    <button id="btnp">Personen anzeigen</button>

</div>
