


        <div class="box">
            <a href="logo.html" id="logo">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Log In
            </a>
        </div>

        <ul>
            <li><a class="full" id="lul"  asp-controller="home" asp-action="NewYork"> New York</a></li>
            <li><a  class="full" asp-controller="home" asp-action="Index"  >Home</a>
            <li><a asp-controller="home" asp-action="LosAngeles" class="full"> Los Angeles </a></li>
            

        </ul>
      
        






