<nav>
    <ul class="nav-links">
        <li><a id="left" asp-controller="user" asp-action="Index">Login </a> </li>
        <li><a id="left" asp-controller="cities" asp-action="Index">Landkarte </a> </li>
    </ul>
    <div class="logo">
        <a id="left" asp-controller="home" asp-action="Index">Arges</a> Company
    </div>
    <ul class="nav-links">

        <li><a asp-controller="user" asp-action="RealIndex">About Us</a></li>
        <li><a asp-controller="shop" asp-action="Index">Store</a></li>

    </ul>
    <div class="mobileNav">
        <div class="line-line1"></div>
        <div class="line-line2"></div>
        <div class="line-line3"></div>
    </div>

</nav>