
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>

<p>Daten über uns</p>

<table>
    <thead>
        <tr>
            <td colspan="3">Impressum</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Zeile 1</td>
            <td>Zeile 1</td>
            <td>Zeile 1</td>
        </tr>
        <tr>
            <td>Zeile 2</td>
            <td>Zeile 2</td>
            <td>Zeile 2</td>
        </tr>
        <tr>
            <td>Zeile 3</td>
            <td>Zeile 3</td>
            <td>Zeile 3</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Fußbereich der Tabelle</td>
        </tr>
    </tfoot>
</table>

