
@{
    ViewBag.Title = "Header";
}


    <div class="head">
        <div class="location">
            <h1 class="location-timezone">TimeZone</h1>
            <img id="icon" src="http://openweathermap.org/img/wn/09n@2x.png" style="display:none">
            <img id="icon2" src="http://openweathermap.org/img/wn/03n@2x.png" style="display:none">
            <img id="icon3" src="http://openweathermap.org/img/wn/04d@2x.png" style="display:none">
            <img id="icon4" src="http://openweathermap.org/img/wn/50d@2x.png" style="display:none">
            <img id="icon5" src="http://openweathermap.org/img/wn/04n@2x.png" style="display:none">
            <img id="icon6" src="http://openweathermap.org/img/wn/02d@2x.png" style="display:none">


            <!-- <img src="http://openweathermap.org/img/wn/03d@2x.png">
    <img src="http://openweathermap.org/img/wn/04d@2x.png">
    <img src="http://openweathermap.org/img/wn/09d@2x.png">
    <img src="http://openweathermap.org/img/wn/10d@2x.png">
    <img src="http://openweathermap.org/img/wn/11d@2x.png">
    <img src="http://openweathermap.org/img/wn/13d@2x.png">
    <img src="http://openweathermap.org/img/wn/50d@2x.png">
    -->



        </div>
        <div class="temperature">
            <div class="degree-Section">
                <h2 class="temperature-degree">
                    C°
                    <span>C°</span>
                </h2>

            </div>
            <div class="temperature-description">Its friggin cold</div>
        </div>
    </div>
    <div class="logo">



    </div>

    


