
    <div class="box">
        <a href="/home/AboutUS">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            About US
        </a>

        <a href="/home/Impresum">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Immpresum
        </a>

        <a href="/user/index">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Alle Benutzer
        </a>
        <a href="/user/register">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Registrierung
        </a>
        <a href="/user/logIn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </a>
        <a href="/shop/Index">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Shop
        </a>
    </div>