<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stadt_Vogt_Aufgabe1</title>

    <link id="pagestyle" rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;600;700&family=Noto+Sans+JP:wght@700&display=swap"
          rel="stylesheet" />
</head>
<body>
    <header>
        <partial name="Navigation" />
        <partial name="Section2" />

       
    </header>
    <section class="banner" id="changeN" rel="../../css/Second.css"></section>
    <div class="Content">
        @RenderBody()

    </div>
    






    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
