


        <div class="box">
            <a asp-controller="user" asp-action="RealIndex" id="logo">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Log In
            </a>
        </div>

        <ul>
            <li><a class="full" id="lul"  asp-controller="city" asp-action="Index"> New York</a></li>
            <li><a  class="full" asp-controller="home" asp-action="Index"  >Home</a>
           
            

        </ul>
      
        






