
@{
    ViewData["Title"] = "RealIndex";
}

<h1>RealIndex</h1>
<li><a class="full" id="lul" asp-controller="user" asp-action="Login"> LogIn</a></li>
<li><a class="full" asp-controller="user" asp-action="Registration">Registrationy</a>
