@using Stadt_Vogt_Aufgabe1.Models;
@{
    ViewData["Title"] = "Index";
}



@if ((Model == null) || (Model.Count == 0))
{
    <p>
        Es sind keine Artikel im Shop vorhanden!
    </p>
}
else
{
    // alle Artike in Tabellenform ausgeben
    <section>
        <!--for demo wrap-->
        <h1>Fixed Table header</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Company</th>
                        <th>Price</th>
                        <th>Change</th>
                        <th>Change %</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    @foreach (Article a in Model)
                    {
                        <tr>
                            <td>@a.CityId</td>
                            <td>@a.Cityname</td>
                            <td>@a.Sightseeing</td>
                            <td>@a.Description</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </section>


}




