<a asp-controller="home" asp-action="index"> Index </a>
<a asp-controller="home" asp-action="lernen"> Lernen </a>
<a asp-controller="home" asp-action="formular"> Article</a>
<a asp-controller="home" asp-action="Formular2"> Article</a>