@model  WebApp.Models.Person
@{
    ViewBag.Title = "Register";
}

<h2>Registrierung</h2>

<form action="/user/Register" method="post">

    <table>
        <thread>
            <tbody>
                <tr>
                    <td><label>Vorname</label></td>
                    <td><input type="text" name="firstname" id="firstname" /></td>


                </tr>
                <tr>
                    <td><label>Nachname</label></td>
                    <td><input type="text" name="lastname" id="lastname" /></td>
                </tr>
                <tr>
                    <td><label>Größe</label></td>
                    <td><input type="number" name="height" id="height" /></td>
                </tr>
                <tr>
                    <td><label>Geburtsdatum</label></td>
                    <td><input type="date" name="birthdate" id="birthdate" /></td>
                </tr>
                <tr>
                    <td><label>Beschreibung</label></td>
                    <td>
                        <textarea name="description" id="description" rows="5" colls="40">
                    Geben sie eine Beschreibung ein
                    </textarea>
                    </td>
                </tr>
                <tr>
                    <td><label>Email</label></td>
                    <td><input type="email" name="email" id="email" /></td>
                </tr>
                <tr>
                    <td><label>Password</label></td>
                    <td><input type="password" name="password" id="password" /></td>
                </tr>
                <tr>
                    <td><label>Password erneut eingeben</label></td>
                    <td><input type="password" name="password2" id="password2" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center">
                        <input type="submit" value="registrieren" />
                        <input type="reset" value="zurücksetzen" />
                    </td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </thread>
    </table>
   

</form>