* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    font-family: sans-serif;
    
}



#container {
    width: 100%;
    min-width: 800px;
    color: aqua;
    background-color: #1d1f2a;
}
header{ 
    height:300px;
}



footer {
    height: 40px;
    text-align: right;
    padding-top: 10px;
    padding-left: 10px;
    clear: both;
    
    float: left;
    border-top: 1px solid #00ffff;
    color:aqua;
}



nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    min-width: 160px;
    float: left;
    min-height: 50px;
    color: aqua;
}

content {
    padding-top: 20px;
    padding-left: 20px;
    width: 80%;
    min-width: 640px;
    float: right;
    min-height: 400px;
}
body {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    min-height: 100vh;
    flex-direction: column;
    
   
}

a { 
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    margin: 20px 5px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 6px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

    a:nth-child(1) {
        filter: hue-rotate(290deg);
    }

    a:nth-child(3) {
        filter: hue-rotate(110deg);
    }
    a:nth-child(4) {
        filter: hue-rotate(320deg);
    }
    a:nth-child(5) {
        filter: hue-rotate(220deg);
    }

    a:hover {
        
        background: #03e9f4;
        color: #050801;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    }

    a span {
        position: absolute;
        display: block;
    }

    a :nth-child(1) {
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: repeating-linear-gradient(90deg, transparent, #03e9f4);
        animation: animate1 1s linear infinite;
    }

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%, 100% {
        left: 100%;
    }
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: repeating-linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%, 100% {
        top: 100%;
    }
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%, 100% {
        right: 100%;
    }
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: repeating-linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%, 100% {
        bottom: 100%;
    }
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Versuch 1*/


